name: Draft Release

on:
    push:
        branches:
          - main

permissions:
    contents: read

jobs:
    draft-release:
        permissions:
            contents: write
            pull-requests: write
        runs-on: ubuntu-latest
        steps:
          - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5
            with:
                commitish: main
                latest: true
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
